[user]
	email = m4rk.odell@gmail.com
	name = 8Mobius8
	signingkey = D12B3FA0F416EEFE
[credential]
	helper =  "/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
